h1,h4{    
    margin: 30px;
    text-align: center;
}

.video-item {  
   border-bottom: 1px gray solid;
    padding: 10px;
    margin-bottom: 10px;
	cursor: pointer;
}
.video-obj{
    border: 1px gray solid;
    padding: 10px;
}
.player:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.player{
    width:100%; 
	cursor:pointer;
    height:auto; 
}
.player::-webkit-media-controls {
  display:none !important;
}
.player::controls{
    display:none !important;
}

.body{
    max-width: 600px;
}

.progress {    
  flex:10;
  position: relative;
  display:flex;
  flex-basis:100%;
  height:5px;
  transition:height 0.3s;
  background:lightgray;
  cursor: pointer;
}

button{
    border: 1px solid steelblue;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;    
    outline: none;
}

.back-btn{
    margin-top: 20px;
    border: none;
    color: black;
}

.file-name{
    text-align: center;
    padding: 20px;
}

.time{
    padding: 0 10px;
}


.progress_filled {
  width:50%;
  background:steelblue;
  flex:0;
  
}


